
@{
    ViewBag.Title = "ConsultaVeiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veiculo</h2>
<img src="~/Image/ducati.png" width="50%" height="50%" />
<h4>@ViewBag.fabricante / @ViewBag.categoria / @ViewBag.cilindrada CC / @ViewBag.transmissao </h4>
<img src="~/Image/camaro.png" width="50%" height="50%" />
<h4>@ViewBag.carro / @ViewBag.chassis / @ViewBag.nome / @ViewBag.tipo </h4>